/* styles.css */
body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    margin: 20px;
    background-color: #a6ff00;
}
h1 {
    color: #ff0000;
}
form {
    margin-bottom: 20px;
}
.question {
    margin-bottom: 15px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}
input[type="text"].answer {
    color: #0080ff; /* اللون الأزرق للنص */
}
button {
    padding: 10px 20px;
    margin: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    height: 100vh; /* تملأ كامل الشاشة */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* تملأ الصورة كامل الحاوية بدون تشويه */
    z-index: -1; /* إرسال الصورة إلى الخلفية */
}

.content {
    position: relative;
    color: white; /* لون النص */
    text-align: center;
    z-index: 1; /* ضمان أن المحتوى فوق الصورة */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.full-screen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* إرسال الصورة إلى الخلفية */
}

.full-screen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* تملأ الصورة كامل الحاوية بدون تشويه */
}
